
body{
    margin: 0;
    background-image: url(/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding-top: 2.5rem;
    height: 56.25rem;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-left: 2rem;
    
}

.logo::after {
    content: ""; 
    display: block; 
    width: 24%; 
    height: 1px; 
    background-color: white; 
    position: absolute;
    left: 10.25rem; 
    top: 50%; 
    z-index: 50; 
}

.list {
    backdrop-filter: blur(4px);
    background-color: #ffffff0d;
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: relative;
    width: 900px;
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 40%;
    left: 150px;
}

.active .link {
    color: hsl(0 0% 100);
}

.link {
    position: relative;
    height: 100%;
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: .025em;
    
}

.links::after {
    content: "";
    display: block;
    width: 100%; 
    height: 3px; 
    background-color: grey; 
    position: absolute;
    left: 0; 
    bottom: 40px;
    transform: scaleX(0);
    transition: transform 0.3s ease; 
    z-index: 1; 
}

.links:hover::after {
    transform: scaleX(1);
}

.link.active::after {
    display: none; 
}

.link a {
    text-decoration: none;
    color: hsl(0 0% 100);
}

.link:hover{
    transition-duration: .3s;
    border-bottom: 2px;
    border-color: grey;
    
}

.num {
    margin-right: .5rem;
}

.link.active::after {
    content: ""; 
    display: block; 
    width: 100%; 
    height: 3px;
    background-color: white;
    margin-top: 40px; 
    position: relative; 
}

.hamburger, .hamburgers, .bar {
    display: none;
}


.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15.6875rem;   
}


.space{
    height: 25rem;
    width: 32rem;
}

.heading {
    color: hsl(0 0% 100);
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: inherit;
    font-size: 2.5rem;
    line-height: 4rem;
    margin: 0;
    padding-bottom: 10px;
}

.text-head{
    color: hsl(0 0% 100);
    text-transform: uppercase;
    font-family: Bellefair, serif;
    font-family: 400;
    font-size: 10.75rem;
    font-weight: inherit;
    margin: 0;
    padding-bottom: 25px;
}

.text-base {
    color: hsl(0 0% 100);
    font-family: Barlow, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
    padding-right: 50px;
}

.explore a{
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 9999px;
    background-color: hsl(0 0% 100);
    font-family: Bellefair, serif;
    text-transform: uppercase;
    font-size: 2rem;
    z-index: 30;
    cursor: pointer;
    width: 17.125rem;
    height: 17.125rem;
    position: relative;
    text-decoration: none;
    color: hsl(230 35% 7%);
    overflow: hidden;
    
}
.explore::before {
    content: ""; 
    position: absolute; 
    top: 94%; 
    left: 80%;
    width: 30rem; 
    height: 30rem; 
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 50%; 
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: 10; 
}

.explore:hover::before {
    transform: translate(-75%, -75%) scale(1); 
    margin-left: 10%;
}

.space, .explore {
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 0.7s ease, transform 0.8s ease; 
}

.explore {
    transform: translateX(100%); 
}

.space.visible, .explore.visible {
    opacity: 1; 
    transform: translateX(0);
}

@media screen and (max-width: 1115px) {
    .container {
        background-image: url(/assets/home/background-home-desktop.jpg);
        padding-top: 2.5rem;
        height: 56.25rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo::after {
        width: 315px;
    }
    
    .main {
        
        padding-left: 2rem;
        padding-right: 2rem;
       
    }
}

@media (min-width: 768px) and (max-width: 1096px){
    .container {
        background-image: url(/assets/home/background-home-tablet.jpg);
        height: 64rem;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 2rem;
        width: 100%;
    }

    .navbar {
        
        height: 6rem;
        
    }

    .list {
        width: 35rem;
    }
    .list ul {
        padding-left: 2rem;
        left: 20px;
        gap: 30px;
    }

    .list li{
        font-size: 1rem;
        
    }

    .logo::after {
        display: none;
    }

    .main {
        margin-top: 6.625rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        flex-direction: column;
        justify-content: center;
    }

    .space {
        height: 20.875rem;
        margin-bottom: 9.75rem;
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
        line-height: 4rem;
    }

    .text-head {
        font-size: 9.375rem;
    }

    .text-base {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-left: 2rem;
    }

    .explore::before {
        width: 24.35125rem;
        height: 24.35125rem;
    }

    .explore a{
        font-size: 2rem;
        width: 15.125rem;
        height: 15.125rem;
    }
}

@media screen and (max-width: 766px){
    .container {
        padding-top: 1.5rem;
        background-image: url(/assets/home/background-home-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 44.6875rem;
    }

    .navbar {
        padding-left: 0;
        padding-right: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .logo::after {
        display: none;
    }

    .list {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 50;
        cursor: pointer;
    }

    
    .hamburgers {
        display: block;
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 50;
        cursor: pointer;
    }

    .bar {
        display: block;
        background-color: #0c0e18bf;
        width: 70%;
        height: 100%;
        z-index: 40;
        position: fixed;
        bottom: 0px;
        right: 0px;
        backdrop-filter: blur(16px);
        transform: translateX(100%);
        transition: transform 0.9s ease;
    }

    .bar.show {
        transform: translateX(0); 
    }

    .sub-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 160px;
        left: 1.75rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .mobile-link {
        margin-bottom: 2rem;
        display: block;
        font-family: Barlow, sans-serif;
        font-size: .875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        letter-spacing: .025em;
    }

    .mobile-link.active::after {
        content: ""; 
        display: block; 
        width: 100%; 
        height: 3px;
        background-color: white;
        margin-top: 15px; 
        position: relative; 
    }

    .link {
        position: relative;
        height: 100%;
    }

    .links::after {
        content: "";
        display: block;
        width: 100%; 
        height: 3px; 
        background-color: grey; 
        position: absolute;
        left: 0; 
        top: 35px;
        transform: scaleX(0);
        transition: transform 0.3s ease; 
        z-index: 1; 
    }
    
    .links:hover::after {
        transform: scaleX(1);
    }
    

    .main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        max-width: 540px;
    }

    .space {
        text-align: center;
        width: 100%;
        margin-bottom: 5rem;
        height: 16rem;
    }

    .heading {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .text-head {
        font-size: 6.25rem;
    }

    .text-base {
        font-size: 1rem;
        line-height: 1.5rem;
        
    }

    .explore::before {
        width: 15.09375rem;
        height: 15.09375rem;
        z-index: 20;
    }

    .explore a {
        font-size: 1.25rem;
        line-height: 1.75rem;
        width: 9.375rem;    
        height: 9.375rem;
        z-index: 30;
    }
}